In [48]:
import pandas as pd
from pathlib import Path
from pandas import DataFrame

import numpy as np
import matplotlib.pyplot as plt

# Some pretty Seaborn settings
import seaborn as sns
rc={'lines.linewidth': 2, 'axes.labelsize': 14, 'axes.titlesize': 14}
sns.set(rc=rc)

# Make Matplotlib plots appear inline
%matplotlib inline

results = Path('./results')
results_manu = results / 'manu'
results_auto = results / 'auto'

In [49]:
manu_quality_benchmarks = pd.read_csv(path)

   from_size  to_size  time           solver                       model
0     599359    13482  5.45  cudd-group-manu  mult_bool_matrix_2_3_6.csv
1     169619      800  0.19  cudd-group-manu                  add12y.csv
2      39332     4572  0.12  cudd-group-manu  mult_bool_matrix_2_3_4.csv
3     744993     3060  1.23   cudd-sift-manu                  add14y.csv
4     154640     8695  0.62  cudd-group-manu  mult_bool_matrix_2_3_5.csv

In [51]:
manu_quality_benchmarks.groupby("benchmark").mean()

,mean,stddev,median,user,system,min,max,model,solver
0,2.418702,0.021909,2.418702,2.387312,0.021965,2.403210,2.434194,add12y.aag,cudd-sift-manu
1,2.352720,0.046595,2.352720,2.316535,0.020613,2.319772,2.385667,add12y.aag,cudd-group-manu
2,4.254728,0.378445,4.254728,16.865785,0.071558,3.987127,4.522329,add12y.aag,sylvan-manu
3,106.409891,2.546009,106.409891,105.524287,0.784374,104.609591,108.210191,add14y.aag,cudd-sift-manu
4,102.203530,4.246664,102.203530,101.462925,0.650172,99.200685,105.206375,add14y.aag,cudd-group-manu